
.roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

h1,h2,h3,p, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 8px 180px;
    gap: 70px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header img {
    height: 50px;
    width: 50px;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
}

.hero-main {
    display: flex;
    justify-content: center;
    padding: 0 0 120px 0;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.hero-text {
    flex: 1;
    padding: 0 30px 0 0;
}

.hero-text p, .header a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text p {
    margin-bottom: 10px;
}

.button {
    background-color: #3882F6;
    color: #fff;
    border-radius: 6px;
    padding: 5px 30px;
    font-weight: bold;
    border: none;
    font-size: 18px;
}

.hero-main img {
    height: 220px;
    width: 300px;
    flex: 1;
}

.random-info {
    padding: 50px 200px 120px 200px;
    text-align: center;
}

.random-info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 50px;
}

.img-gallery {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.img-gallery-item {
    width: 160px;
}

.img-gallery-item img {
    width: 160px;
    height: 160px;
    border-radius: 15px;
    object-fit: cover;
}